* {
  box-sizing: border-box;
}

/* html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-top: 150px;
}

.prevSvg {
  transform: rotate(180deg);
}

img {
  z-index: -1;
  width: 80%;
  height: 80vh;
  object-fit: cover;
}
