.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  margin-top: 150px;
}

.prevSvg {
  transform: rotate(180deg);
  position: absolute;
  left: 50px;
  top: 200px;
}

.nextSvg {
  position: absolute;
  right: 50px;
  top: 212px;
}

img {
  z-index: -1;
  width: 80vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 20px;
}
